<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title><%- blogTitle %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../src/scss/init.scss">
  <link rel="stylesheet" href="../src/scss/about.scss">
</head>

<body>
  <header id="top-container" role="navigation">
  </header>

  <main id="main-container">
    <p>张贺竹男友</p>
	  <p>2015届香港中文大学数学与信息工程本科生</p>
    <p>2019届佐治亚理工学院电子计算机工程研究生</p>
    <p>字节跳动视频架构后端程序员</p>
    <p>个人邮箱：1421769752@qq.com</p>
    <p>微信：cjm19971111</p>
  </main>

  <script defer src="../src/ts/init.ts"></script>
</body>

</html>
